
@{
    ViewBag.Title = "ControlPanel";
}

@{
    ViewBag.Title = "Control Panel";
}

<!-- ============================================================= SECTION – PORTFOLIO ============================================================= -->

<section id="portfolio">

    <div class="container inner">
        <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
                <header>
                    <h1>Control Panel</h1>
                </header>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – PORTFOLIO : END ============================================================= -->
<section>
    <div class="container inner">
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li>@Html.ActionLink( "View newsletter signups", "ViewSubscriptions", "User" )</li>
                    <li>@Html.ActionLink( "Manage Events", "Events", "User" )</li>
                    <li>@Html.ActionLink( "Manage Emails", "ManageEmails", "User" )</li>
                    <li>@Html.ActionLink( "Logout", "Logout", "Account" )</li>
                </ul>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->>
</section>

