@model Ucle.Models.SubscribeViewModel

@{
    ViewBag.Title = "Home Page";
}

<!-- ============================================================= SECTION – HERO ============================================================= -->

<section id="hero">
    <div id="owl-main" class="owl-carousel height-lg owl-inner-nav owl-ui-lg">

        <div class="item" style="background-image: url(/assets/images/Slider5.jpg);">
            <div class="container">
                <div class="caption vertical-center text-center">

                    <h1 class="shadow-text fadeInDown-1 light-color">Working with the best</h1>
                    <h2 class="shadow-text fadeInDown-2 light-color">Events include top founders and venture capitalists</h2>

                </div><!-- /.caption -->
            </div><!-- /.container -->
        </div><!-- /.item -->

        <div class="item" style="background-image: url(/assets/images/Slider1.jpg);">
            <div class="container">
                <div class="caption vertical-center text-center">

                    <h1 class="shadow-text fadeInDown-1 light-color">Funding London's future</h1>
                    <h2 class="shadow-text fadeInDown-2 light-color">Over &pound;30,000 invested in startups by our VC fund</h2>

                </div><!-- /.caption -->
            </div><!-- /.container -->
        </div><!-- /.item -->

        <div class="item" style="background-image: url(/assets/images/Slider3.jpeg);">
            <div class="container">
                <div class="caption vertical-center text-center">

                    <h1 class="shadow-text fadeInDown-1 light-color">Organising it all</h1>
                    <h2 class="shadow-text fadeInDown-2 light-color">Kickstart London, MedTech Conference, VCIC, and more</h2>

                </div><!-- /.caption -->
            </div><!-- /.container -->
        </div><!-- /.item -->
    </div><!-- /.owl-carousel -->
</section>

<!-- ============================================================= SECTION – HERO : END ============================================================= -->
<!-- ============================================================= SECTION – WHO WE ARE ============================================================= -->

<section id="who-we-are">
    <div class="container inner-top inner-bottom-sm">

        <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
                <header>
                    <h1>UCL Entrepreneurs</h1>
                    <p>London's premier society for startups and venture capital</p>
                </header>
            </div><!-- /.col -->
        </div><!-- /.row -->

        <div class="row inner-top-sm">

            <div class="col-md-1">
                <div class="icon pull-right">
                    <i class="icon-dolar icn"></i>
                </div><!-- /.icon -->
            </div><!-- /.col -->

            <div class="col-md-3 inner-bottom-xs">
                <h2>VC Fund</h2>
                <p class="text-small">Growth capital for startups</p>
            </div><!-- /.col -->

            <div class="col-md-1">
                <div class="icon pull-right">
                    <i class="icon-lamp icn"></i>
                </div><!-- /.icon -->
            </div><!-- /.col -->

            <div class="col-md-3 inner-bottom-xs">
                <h2>Ventures</h2>
                <p class="text-small">Projects managed by our team</p>
            </div><!-- /.col -->

            <div class="col-md-1">
                <div class="icon pull-right">
                    <i class="icon-star-empty-1 icn"></i>
                </div><!-- /.icon -->
            </div><!-- /.col -->

            <div class="col-md-3 inner-bottom-xs">
                <h2>Startup Support</h2>
                <p class="text-small">Promoting grassroots entrepreneurship</p>
            </div><!-- /.col -->

        </div><!-- /.row -->

    </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – WHO WE ARE : END ============================================================= -->
<!-- ============================================================= SECTION – PARTNERS ============================================================= -->
<section id="portfolio" class="light-bg">
    <div class="container inner">
        <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
                <header>
                    <h1>Partners</h1>
                </header>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->

    <div class="container inner-bottom">
        <div class="row">
            <div class="col-sm-12 portfolio">

                <ul class="items col-3">

                    <li class="item thumb interactive">
                        <a href="http://www.nacue.com/">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>NACUE</h4>
                                        <p></p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="/assets/images/NACUE.png" alt="">
                            </figure>
                        </a>
                    </li><!-- /.item -->

                    <li class="item thumb interactive">
                        <a href="http://www.ucl.ac.uk/advances">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>UCL Advances</h4>
                                        <p></p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="/assets/images/UCL Advances.gif" alt="">
                            </figure>
                        </a>
                    </li><!-- /.item -->

                    <li class="item thumb interactive">
                        <a href="http://individuum.com/">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Individuum</h4>
                                        <p></p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="/assets/images/Individuum 2.png" alt="">
                            </figure>
                        </a>
                    </li><!-- /.item -->

                </ul><!-- /.items -->
            </div><!-- /.col -->
        </div><!-- /.row -->
        &nbsp;
        <div class="row">
            <div class="col-sm-12 portfolio">
                <ul class="items col-3">
                    <li class="item thumb interactive">
                        <a href="http://playfaircapital.com/">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Playfair Capital</h4>
                                        <p></p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="/assets/images/Playfair2.png" alt="">
                            </figure>
                        </a>
                    </li><!-- /.item -->
                    <li class="item thumb interactive">
                        <a href="http://oxbridgebiotech.com/">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Oxbridge Biotech Roundtable</h4>
                                        <p></p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="/assets/images/OBR.png" alt="">
                            </figure>
                        </a>
                    </li><!-- /.item -->
                    <li class="item thumb interactive">
                        <a href="https://www.pronto.co.uk/">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Pronto</h4>
                                        <p></p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="/assets/images/pronto-logo.png" alt="">
                            </figure>
                        </a>
                    </li><!-- /.item -->
                </ul><!-- /.items -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
<!-- ============================================================= SECTION – PARTNERS : END============================================================= -->
<!-- ============================================================= SECTION – LATEST WORKS ============================================================= -->
<section id="latest-works">
    <div class="container inner">

        <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
                <header>
                    <h1>Events</h1>
                    <p></p>
                </header>
            </div><!-- /.col -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-sm-6 inner-top-sm">
                <figure>
                    <div class="icon-overlay icn-link">
                        <img src="/assets/images/Ventures Idea Competition.png" alt="">
                    </div><!-- /.icon-overlay -->

                    <figcaption class="bordered no-top-border">
                        <div class="info">
                            <h3>Ventures Idea Competition</h3>
                            <p>Visit our facebook page to submit your idea!</p>
                        </div><!-- /.info -->
                    </figcaption>

                </figure>
            </div><!-- /.col -->
            <div class="col-sm-6 inner-top-sm">
                <figure>
                    <div class="icon-overlay icn-link">
                        <img src="/assets/images/applications.png" alt="">
                    </div><!-- /.icon-overlay -->

                    <figcaption class="bordered no-top-border">
                        <div class="info">
                            <h3>Join our Committee</h3>
                            <p>Applications for executive positions are open!</p>
                        </div><!-- /.info -->
                    </figcaption>

                </figure>
            </div><!-- /.col -->
            <div class="col-sm-6 inner-top-sm">
                <figure>
                    <div class="icon-overlay icn-link">
                        <img src="/assets/images/networking.png" alt="">
                    </div><!-- /.icon-overlay -->

                    <figcaption class="bordered no-top-border">
                        <div class="info">
                            <h3>Networking & Drinks - October 12th 2015</h3>
                            <p>UCL North Cloisters at 6PM</p>
                        </div><!-- /.info -->
                    </figcaption>

                </figure>
            </div><!-- /.col -->
            <div class="col-sm-6 inner-top-sm">
                <figure>
                    <div class="icon-overlay icn-link">
                        <img src="/assets/images/UCLe LSEe EDDIE V4.jpg" alt="">
                    </div><!-- /.icon-overlay -->

                    <figcaption class="bordered no-top-border">
                        <div class="info">
                            <h3>UCL & LSE Entrepreneurs Social - October 6th 2015</h3>
                            <p>Jerusalem Bar: 33-34 Rathbone Pl, London W1T 1JN</p>
                        </div><!-- /.info -->
                    </figcaption>

                </figure>
            </div><!-- /.col -->
            <div class="col-sm-6 inner-top-sm">
                <figure>
                    <div class="icon-overlay icn-link">
                        <img src="/assets/images/Playfair Capital Event.jpg" alt="">
                    </div><!-- /.icon-overlay -->

                    <figcaption class="bordered no-top-border">
                        <div class="info">
                            <h3>Playfair Capital - October 8th 2015</h3>
                            <p>UCL Darwin B40 LT at 6:30PM</p>
                        </div><!-- /.info -->
                    </figcaption>

                </figure>
            </div><!-- /.col -->
            <div class="col-sm-6 inner-top-sm">
                <figure>
                    <div class="icon-overlay icn-link">
                        <img src="/assets/images/freshers.png" alt="">
                    </div><!-- /.icon-overlay -->

                    <figcaption class="bordered no-top-border">
                        <div class="info">
                            <h3>Freshers' Fair - October 3rd & 4th 2015</h3>
                            <p>Come join us at UCL to find out more about our society!</p>
                        </div><!-- /.info -->
                    </figcaption>

                </figure>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div>
</section>
<!-- ============================================================= SECTION – LATEST WORKS : END ============================================================= -->
<!-- ============================================================= SECTION – STATS ============================================================= -->

<section id="who-we-are" class="light-bg">
    <div class="container inner-top inner-bottom-sm">

        <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
                <header>
                    <h1>Statistics</h1>
                </header>
            </div><!-- /.col -->
        </div><!-- /.row -->

        <div class="row inner-top-sm">

            <div class="col-md-1">
                <div class="icon pull-right">
                    <i class="icon-s-facebook icn"></i>
                </div><!-- /.icon -->
            </div><!-- /.col -->

            <div class="col-md-3 inner-bottom-xs">
                <h2>Facebook</h2>
                <p class="num-text text-small"><strong>2200+</strong></p>
            </div><!-- /.col -->

            <div class="col-md-1">
                <div class="icon pull-right">
                    <i class="icon-s-twitter icn"></i>
                </div><!-- /.icon -->
            </div><!-- /.col -->

            <div class="col-md-3 inner-bottom-xs">
                <h2>Twitter</h2>
                <p class="num-text text-small"><strong>2900+</strong></p>
            </div><!-- /.col -->

            <div class="col-md-1">
                <div class="icon pull-right">
                    <i class="icon-list-numbered icn"></i>
                </div><!-- /.icon -->
            </div><!-- /.col -->

            <div class="col-md-3 inner-bottom-xs">
                <h2>Members</h2>
                <p class="num-text text-small"><strong>3700+</strong></p>
            </div><!-- /.col -->

        </div><!-- /.row -->

    </div><!-- /.container -->
</section>
<!-- ============================================================= SECTION – STATS : END ============================================================= -->
<!-- ============================================================= SECTION – GET IN TOUCH ============================================================= -->

@using (Html.BeginForm("Subscribe", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <section id="get-in-touch">
        <div class="container inner">
            <div class="row">
                <div class="col-md-8 col-sm-9 center-block text-center">
                    <header>
                        <h1>Sign up to our newsletter</h1>
                    </header>
                    <form class="" role="form">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon" id="sizing-addon1">&#64;</span>
                            @Html.TextBoxFor(x => x.EmailAddress, new { @class = "home-signup-field form-control", placeholder = "Email Address" })
                            <span class="input-group-addon">
                                <input type="submit" class="btn btn-default submit-btn" />
                            </span>
                        </div>
                    </form>
                    @Html.ValidationMessageFor(x => x.EmailAddress)



                </div><!-- /.col -->
            </div><!-- /.row -->
            <div class="row">
                <div class="col-md-8 col-sm-9 center-block text-center">
                    &nbsp;
                    <h2><a href="https://www.facebook.com/groups/uclstartup/" target="_blank">Join our facebook group here</a></h2>
                </div>
            </div><!-- /.container -->
    </section>
}

<!-- ============================================================= SECTION – GET IN TOUCH : END ============================================================= -->
