@model Ucle.Models.EmailViewModel

@{
    ViewBag.Title = "Kickstart";  
}

<!-- ============================================================= SECTION – INTRODUCTION ============================================================= -->

<div class="container inner-top-sm inner-bottom-sm">
    <div class="row">
        <div class="col-md-11 col-sm-11 center-block text-center">
            <header>
                <h1>VC Fund</h1>
                <h3>We invest in early-stage startups by funding them with non-equity growth capital. Each year, we receive over 60 applications, analyse their business plans, and interview them to assess their potential. The best startups are then invited to pitch their ideas at our final round events, where we invite a panel of expert judges.
                </h3>
            </header>
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.container -->


<!-- ============================================================= SECTION – VIDEO ============================================================= -->

<section id="portfolio-post">
    <div class="container inner-bottom">
        <div class="row">
            <div class="col-sm-12">
                <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/va2CxQNaERY" frameborder="0" allowfullscreen></iframe></div>
            </div><!-- /.col -->
        </div><!-- /.row -->

    </div><!-- /.container -->

<!-- ============================================================= SECTION – STATISTICS ============================================================= -->
	
<section id="who-we-are" class="light-bg">
    <div class="container inner-top inner-bottom-sm">

        <div class="row">
            <div class="col-md-8 col-sm-8 center-block text-center">
                <header>
                    <h1>Statistics</h1>
                </header>
            </div><!-- /.col -->
        </div><!-- /.row -->

        <div class="row inner-top-sm">
			
			<div class="col-md-1">
                <div class="icon pull-right">
                    <i class="icon-list-numbered icn"></i>
                </div><!-- /.icon -->
            </div><!-- /.col -->
			
            <div class="col-md-3 inner-bottom-xs">
                <h2>Applications</h2>
                <p class="num-text text-small"><strong>240+</strong></p>
            </div><!-- /.col -->

            <div class="col-md-1">
                <div class="icon pull-right">
                    <i class="icon-lamp icn"></i>
                </div><!-- /.icon -->
            </div><!-- /.col -->
			
			<div class="col-md-3 inner-bottom-xs">
                <h2>Interviews</h2>
                <p class="num-text text-small"><strong>150+</strong></p>
            </div><!-- /.col -->
			
			<div class="col-md-1">
                <div class="icon pull-right">
                    <i class="icon-dolar icn"></i>
                </div><!-- /.icon -->
            </div><!-- /.col -->

            <div class="col-md-3 inner-bottom-xs">
                <h2>Investments</h2>
                <p class="num-text text-small"><strong>32</strong></p>
            </div><!-- /.col -->

        </div><!-- /.row -->

    </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – JUDGES ============================================================= -->

</section>
<section id="portfolio">
    <div class="container inner">
        <div class="row">
            <div class="col-md-10 col-sm-10 center-block text-center">
                <header>
                    <h1>Judge Panel</h1>
                </header>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->

    <div class="container inner-bottom">
        <div class="row">
            <div class="col-sm-12 portfolio">

                <ul class="items col-3">

                    <li class="item thumb interactive">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Wellington Partners</h4>
                                        <p>Venture capital firm with over €800 million and offices in London, Munich and Zurich. The firm invests in young companies throughout Europe, mainly in the areas of technology, life sciences, and digital media.</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/wellington.png" alt="">
                            </figure>
                    </li><!-- /.item -->

                    <li class="item thumb identity">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Profounders Capital</h4>
                                        <p>Venture capital firm with a focus on early-stage companies operating in the digital media and technology space. </p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/profounders.png" alt="">
                            </figure>
                    </li><!-- /.item -->

                    <li class="item thumb identity">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Signwall</h4>
                                        <p>Identity</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/Portfolio3.png" alt="">
                            </figure>
                    </li><!-- /.item -->

                    <li class="item thumb print">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Modern CD Case</h4>
                                        <p>Print</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/Portfolio4.png" alt="">
                            </figure>
                    </li><!-- /.item -->

                    <li class="item thumb identity">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Astor & Yancy</h4>
                                        <p>Identity</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/Portfolio5.png" alt="">
                            </figure>
                    </li><!-- /.item -->

                    <li class="item thumb photography">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Daydreaming</h4>
                                        <p>Photography</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/Portfolio6.png" alt="">
                            </figure>
                    </li><!-- /.item -->

                    <li class="item thumb identity">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Brand Stationery</h4>
                                        <p>Identity</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/Portfolio7.png" alt="">
                            </figure>
                    </li><!-- /.item -->

                    <li class="item thumb print">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Tri Fold Brochure</h4>
                                        <p>Print</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/Portfolio8.jpeg" alt="">
                            </figure>
                    </li><!-- /.item -->

                    <li class="item thumb interactive">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Vintage Bicycles</h4>
                                        <p>Interactive</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/Portfolio9.png" alt="">
                            </figure>
                    </li><!-- /.item -->

                    <li class="item thumb print">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Electric Dance Book Cover</h4>
                                        <p>Print</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/Portfolio10.png" alt="">
                            </figure>
                    </li><!-- /.item -->

                    <li class="item thumb identity">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Embroidered</h4>
                                        <p>Identity</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/Portfolio11.png" alt="">
                            </figure>
                    </li><!-- /.item -->

                </ul><!-- /.items -->

            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – STARTUP PORTFOLIO ============================================================= -->

</section>
<section id="portfolio">
    <div class="container inner">
        <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
                <header>
                    <h1>Startup Portfolio</h1>
                </header>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->

    <div class="container inner-bottom">
        <div class="row">
            <div class="col-sm-12 portfolio">

                <ul class="items col-3">

                    <li class="item thumb interactive">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Appscreen Dashboard</h4>
                                        <p>Interactive</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/Portfolio1.jpg" alt="">
                            </figure>
                    </li><!-- /.item -->

                    <li class="item thumb identity">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Grand Motel</h4>
                                        <p>Identity</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/Portfolio2.jpg" alt="">
                            </figure>
                    </li><!-- /.item -->

                    <li class="item thumb identity">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Signwall</h4>
                                        <p>Identity</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/Portfolio3.png" alt="">
                            </figure>
                    </li><!-- /.item -->

                    <li class="item thumb print">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Modern CD Case</h4>
                                        <p>Print</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/Portfolio4.png" alt="">
                            </figure>
                    </li><!-- /.item -->

                    <li class="item thumb identity">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Astor & Yancy</h4>
                                        <p>Identity</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/Portfolio5.png" alt="">
                            </figure>
                    </li><!-- /.item -->

                    <li class="item thumb photography">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Daydreaming</h4>
                                        <p>Photography</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/Portfolio6.png" alt="">
                            </figure>
                    </li><!-- /.item -->

                    <li class="item thumb identity">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Brand Stationery</h4>
                                        <p>Identity</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/Portfolio7.png" alt="">
                            </figure>
                    </li><!-- /.item -->

                    <li class="item thumb print">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Tri Fold Brochure</h4>
                                        <p>Print</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/Portfolio8.jpeg" alt="">
                            </figure>
                    </li><!-- /.item -->

                    <li class="item thumb interactive">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Vintage Bicycles</h4>
                                        <p>Interactive</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/Portfolio9.png" alt="">
                            </figure>
                    </li><!-- /.item -->

                    <li class="item thumb print">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Electric Dance Book Cover</h4>
                                        <p>Print</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/Portfolio10.png" alt="">
                            </figure>
                    </li><!-- /.item -->

                    <li class="item thumb identity">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Embroidered</h4>
                                        <p>Identity</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/Portfolio11.png" alt="">
                            </figure>
                    </li><!-- /.item -->

                </ul><!-- /.items -->

            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>



