
@{
    ViewBag.Title = "Partners";
}

	<!-- ============================================================= SECTION – PORTFOLIO ============================================================= -->

<section id="portfolio">
    <div class="container inner">
        <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
                <header>
                    <h1>Partners</h1>
                </header>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->

    <div class="container inner-bottom">
        <div class="row">
            <div class="col-sm-12 portfolio">

                <ul class="items col-3">

                    <li class="item thumb interactive">
                        <a href="http://www.nacue.com/">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>NACUE</h4>
                                        <p></p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="/assets/images/NACUE.png" alt="">
                            </figure>
                        </a>
                    </li><!-- /.item -->

                    <li class="item thumb interactive">
                        <a href="http://www.ucl.ac.uk/advances">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>UCL Advances</h4>
                                        <p></p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="/assets/images/UCL Advances.gif" alt="">
                            </figure>
                        </a>
                    </li><!-- /.item -->

                    <li class="item thumb interactive">
                        <a href="http://individuum.com/">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Individuum</h4>
                                        <p></p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="/assets/images/Individuum 2.jpg" alt="">
                            </figure>
                        </a>
                    </li><!-- /.item -->

                </ul><!-- /.items -->
            </div><!-- /.col -->
        </div><!-- /.row -->
		&nbsp;
		<div class="row">
            <div class="col-sm-12 portfolio">
                <ul class="items col-3">
                    <li class="item thumb interactive">
                        <a href="http://playfaircapital.com/">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Playfair Capital</h4>
                                        <p></p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="/assets/images/Playfair2.png" alt="">
                            </figure>
                        </a>
                    </li><!-- /.item -->
					<li class="item thumb interactive">
                        <a href="http://oxbridgebiotech.com/">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Oxbridge Biotech Roundtable</h4>
                                        <p></p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="/assets/images/OBR.png" alt="">
                            </figure>
                        </a>
                    </li><!-- /.item -->
                    <li class="item thumb interactive">
                        <a href="https://www.pronto.co.uk/">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Pronto</h4>
                                        <p></p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="/assets/images/pronto-logo.png" alt="">
                            </figure>
                        </a>
                    </li><!-- /.item -->
					<li class="item thumb interactive">
                        <a href="http://www.dojoapp.co/">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Dojo App</h4>
                                        <p></p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="/assets/images/dojo-app-logo.png" alt="">
                            </figure>
                        </a>
                    </li><!-- /.item -->
						<li class="item thumb interactive">
                        <a href="http://mixlr.com/">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Mixlr</h4>
                                        <p></p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="/assets/images/mixlr-logo.png" alt="">
                            </figure>
                        </a>
                    </li><!-- /.item -->
                </ul><!-- /.items -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – PORTFOLIO : END ============================================================= -->