
@{
    ViewBag.Title = "Subscription Confirmation";
}

<section id="subscriptionconfirmation">

    <div class="container inner">
        <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
                <header>
                    <h1>Subscription Confirmation</h1>
                    <p>
                        You are now subscribed to our newsletter. Thank you!
                    </p>
                </header>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – SUBSCRIPTION CONFIRMATION : END ============================================================= -->
<section>
    <div class="container inner">
        <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
                
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->>
</section>
