
@{
    ViewBag.Title = "Successfully Send Email";
}

<section id="portfolio">

    <div class="container inner">
        <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
                <header>
                    <h1>Message Sent</h1>
                    <p>
                        Your message has successfully been sent, please wait patiently for a responce.
                    </p>
                </header>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>


