
@{
    ViewBag.Title = "The Team";
}

<!-- ============================================================= SECTION – COMMITTEE ============================================================= -->
<section id="portfolio">
    <div class="container inner-top-sm inner-bottom-xs">
        <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
                <header>
                    <h1>2016/2017</h1>
                    <h2>Leadership Committee</h2>
                </header>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->

    <div class="container inner-bottom-xs">
        <div class="row">
            <div class="col-sm-12 portfolio">
                <ul class="items col-4 gap">
                    <li class="item thumb interactive">
                        <figure>

                            <div class="icon-overlay icn-link">
                                <img src="/assets/images/Vishal Sharma.jpg" alt="">
                            </div><!-- /.icon-overlay -->

                            <figcaption class="bordered no-top-border">
                                <div class="info">
                                    <h3>Vishal Sharma</h3>
                                    <h4>President</h4>
                                    <p>Email: president@ucle.co</p>
                                    <a href="https://uk.linkedin.com/in/vishalsharma2015">LinkedIn profile</a>
                                </div><!-- /.info -->
                            </figcaption>

                        </figure>
                    </li><!-- /.item -->

                    <li class="item thumb interactive">
                        <figure>

                            <div class="icon-overlay icn-link">
                                <img src="/assets/images/Clara.jpg" alt="">
                            </div><!-- /.icon-overlay -->

                            <figcaption class="bordered no-top-border">
                                <div class="info">
                                    <h3>Clara Ricard</h3>
                                    <h4>Vice-President</h4>
                                    <p>Email: president@ucle.co</p>
                                    <a href="https://uk.linkedin.com/in/clararicard">LinkedIn profile</a>
                                </div><!-- /.info -->
                            </figcaption>

                        </figure>
                    </li><!-- /.item -->

                    <li class="item thumb interactive">
                        <figure>

                            <div class="icon-overlay icn-link">
                                <img src="/assets/images/Naoto_Mulligan.jpg" alt="">
                            </div><!-- /.icon-overlay -->

                            <figcaption class="bordered no-top-border">
                                <div class="info">
                                    <h3>Naoto Mulligan</h3>
                                    <h4>Treasurer</h4>
                                    <p>Email: treasurer@ucle.co</p>
                                    <a href="https://sg.linkedin.com/in/naoto-ryan-mulligan-50a23bb7">LinkedIn profile</a>
                                </div><!-- /.info -->
                            </figcaption>

                        </figure>
                    </li><!-- /.item -->

                    <li class="item thumb interactive">
                        <figure>

                            <div class="icon-overlay icn-link">
                                <img src="/assets/images/Jonas_Ivinskis.jpg" alt="">
                            </div><!-- /.icon-overlay -->

                            <figcaption class="bordered no-top-border">
                                <div class="info">
                                    <h3>Jonas Ivinskis</h3>
                                    <h4>Director of VC Fund</h4>
                                    <p>Email: fund@ucle.co</p>
                                    <a href="https://uk.linkedin.com/in/jonas-ivinskis-3202aa105 ">LinkedIn profile</a>
                                </div><!-- /.info -->
                            </figcaption>

                        </figure>
                    </li><!-- /.item -->

                    <li class="item thumb interactive">
                        <figure>

                            <div class="icon-overlay icn-link">
                                <img src="/assets/images/Vika_Christy.jpg" alt="">
                            </div><!-- /.icon-overlay -->

                            <figcaption class="bordered no-top-border">
                                <div class="info">
                                    <h3>Vika Christy</h3>
                                    <h4>Director of Marketing</h4>
                                    <p>Email: marketing@ucle.co</p>
                                    <a href="https://www.linkedin.com/in/arvikachristy">LinkedIn profile</a>
                                </div><!-- /.info -->
                            </figcaption>

                        </figure>
                    </li><!-- /.item -->

                    <li class="item thumb interactive">
                        <figure>

                            <div class="icon-overlay icn-link">
                                <img src="/assets/images/Peter_Neyra.jpg" alt="">
                            </div><!-- /.icon-overlay -->

                            <figcaption class="bordered no-top-border">
                                <div class="info">
                                    <h3>Peter Neyra</h3>
                                    <h4>Director of Moonshot Launchpad</h4>
                                    <p>Email: launchpad@ucle.co</p>
                                    <a href="https://www.linkedin.com/in/pneyra">LinkedIn profile</a>
                                </div><!-- /.info -->
                            </figcaption>

                        </figure>
                    </li><!-- /.item -->

                    <li class="item thumb interactive">
                        <figure>

                            <div class="icon-overlay icn-link">
                                <img src="/assets/images/Ragav 3.jpg" alt="">
                            </div><!-- /.icon-overlay -->

                            <figcaption class="bordered no-top-border">
                                <div class="info">
                                    <h3>Ragav Manimaran</h3>
                                    <h4>Chairman</h4>
                                    <p>Email: chairman@ucle.co</p>
                                    <a href="https://uk.linkedin.com/in/maniragavmanimaran">LinkedIn profile</a>
                                </div><!-- /.info -->
                            </figcaption>

                        </figure>
                    </li><!-- /.item -->

                </ul><!-- /.items -->

            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
    <!--
    <div class="container inner-xs">
        <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
                <header>
                    <h2>Executive Committee</h2>
                </header>
            </div>
        </div>
    </div-->
    <!--
    <div class="container inner-bottom-xs">
            <div class="row">
                <div class="col-sm-12 portfolio">
                    <ul class="items col-4 gap">
                        <li class="item thumb interactive">
                            <figure>

                                <div class="icon-overlay icn-link">
                                    <img src="/assets/images/Anonymous.png" alt="">
                                </div><!-- /.icon-overlay -->
    <!--<figcaption class="bordered no-top-border">
        <div class="info">
            <h3>Jonas Ivinskis</h3>
            <h4>VC Fund Executive</h4>
            <p>Email: fund@ucle.co</p>
            <a href="">LinkedIn profile</a>
        </div><!-- /.info -->
    <!--</figcaption>-->
    <!--</figure>-->
    <!--</li><!-- /.item -->
    <!--
                </ul>

            </div>
        </div>
    </div>
    -->
</section>

<!-- ============================================================= SECTION – PAST COMMITTEE ============================================================= -->

<section id="who-we-are" class="light-bg">
    <div class="container inner-top-sm inner-bottom-sm">

        <div class="row">
            <div class="col-md-8 col-sm-8 center-block text-center">
                <header>
                    <h1>Past Committee 14/15</h1>
                </header>
                <p class="num-text text-small"><strong>President: Ragav Manimaran</strong></p>
                <p class="num-text text-small"><strong>Treasurer: Pablo Lubroth</strong></p>
            </div><!-- /.col -->
        </div><!-- /.row -->

        <div class="row inner-top-sm">

            <div class="col-md-3 inner-bottom-xs">
                <h2>VC Fund</h2>
                <p class="num-text text-small"><strong>Bartu Kaleagasi</strong></p>
                <p class="num-text text-small">Jonas Ivinskis</p>
                <p class="num-text text-small">Clara Ricard</p>
                <p class="num-text text-small">Emma May</p>
            </div><!-- /.col -->

            <div class="col-md-3 inner-bottom-xs">
                <h2>Ventures</h2>
                <p class="num-text text-small"><strong>Victor Chan</strong></p>
                <p class="num-text text-small">Lucas Peikert</p>
                <p class="num-text text-small">Nassim Ahmed</p>
            </div><!-- /.col -->

            <div class="col-md-3 inner-bottom-xs">
                <h2>Marketing</h2>
                <p class="num-text text-small"><strong>Yi Jia Loh</strong></p>
                <p class="num-text text-small">Vika Christy</p>
                <p class="num-text text-small">Vinzenz Leuberger</p>
            </div><!-- /.col -->

            <div class="col-md-3 inner-bottom-xs">
                <h2>Startup Support</h2>
                <p class="num-text text-small"><strong>Indrajeet Mandal</strong></p>
                <p class="num-text text-small">Peter Neyra</p>
                <p class="num-text text-small">Ilham Hamza</p>
                <p class="num-text text-small">William Cao</p>
            </div><!-- /.col -->

            <div class="col-md-3 inner-bottom-xs">
                <h2>Events</h2>
                <p class="num-text text-small"><strong>Vishal Sharma</strong></p>
                <p class="num-text text-small">Anny Hsu</p>
                <p class="num-text text-small">Adam Vonk</p>
            </div><!-- /.col -->

            <div class="col-md-3 inner-bottom-xs">
                <h2>Sponsorship</h2>
                <p class="num-text text-small"><strong>Andrew Stahl</strong></p>
                <p class="num-text text-small">Naoto Mulligan</p>
                <p class="num-text text-small">Benjamin Barsky</p>
            </div><!-- /.col -->
        </div><!-- /.row -->

    </div><!-- /.container -->
</section>
