@model Ucle.Models.EmailViewModel

@{
    ViewBag.Title = "The Fund";  
}

<!-- ============================================================= SECTION – INTRODUCTION ============================================================= -->

<div class="container inner-top-sm inner-bottom-xs">
    <div class="row">
        <div class="col-md-11 col-sm-11 center-block text-center">
            <header>
                <h1>VC Fund</h1>
                <h3>We fund early-stage startups with non-equity growth capital. Each year, we receive over 60 applications, analyse their business plans, and interview them to assess their potential. The best startups are then invited to pitch their ideas at our final round events, where we invite a panel of expert judges.</h3>
				
				<h3>So far, we have funded over &pound;30,000 to a wide range of startups including biotech, mobile apps, investment platforms, coding education, consumer goods, smart furniture, fashion retail, and more.
                </h3>
            </header>
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.container -->


<!-- ============================================================= SECTION – VIDEO ============================================================= -->

<section id="portfolio-post">
    <div class="container inner-bottom-sm">
        <div class="row">
            <div class="col-sm-12">
                <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/va2CxQNaERY" frameborder="0" allowfullscreen></iframe></div>
            </div><!-- /.col -->
        </div><!-- /.row -->

    </div><!-- /.container -->
	

<!-- ============================================================= SECTION – STATISTICS ============================================================= -->
	
<section id="who-we-are" class="light-bg">
    <div class="container inner-top-sm inner-bottom-sm">

        <div class="row">
            <div class="col-md-8 col-sm-8 center-block text-center">
                <header>
                    <h1>Statistics</h1>
                </header>
            </div><!-- /.col -->
        </div><!-- /.row -->

        <div class="row inner-top-sm">
			
			<div class="col-md-1">
                <div class="icon pull-right">
                    <i class="icon-list-numbered icn"></i>
                </div><!-- /.icon -->
            </div><!-- /.col -->
			
            <div class="col-md-3 inner-bottom-xs">
                <h2>Applications</h2>
                <p class="num-text text-small"><strong>240+</strong></p>
            </div><!-- /.col -->

            <div class="col-md-1">
                <div class="icon pull-right">
                    <i class="icon-lamp icn"></i>
                </div><!-- /.icon -->
            </div><!-- /.col -->
			
			<div class="col-md-3 inner-bottom-xs">
                <h2>Interviews</h2>
                <p class="num-text text-small"><strong>150+</strong></p>
            </div><!-- /.col -->
			
			<div class="col-md-1">
                <div class="icon pull-right">
                    <i class="icon-dolar icn"></i>
                </div><!-- /.icon -->
            </div><!-- /.col -->

            <div class="col-md-3 inner-bottom-xs">
                <h2>Investments</h2>
                <p class="num-text text-small"><strong>23</strong></p>
            </div><!-- /.col -->

        </div><!-- /.row -->

    </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – INFOGRAPHIC ============================================================= -->
	
<div class="container inner-top-xs inner-bottom-sm">
    <div class="row">
        <div class="col-md-10 col-sm-10 left-block">
            <header>
                <img src="~/assets/images/TheFund/VCINFO.png" alt="">
            </header>
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.container -->

<!-- ============================================================= SECTION – COMMITTEE ============================================================= -->
	
<section id="who-we-are" class="light-bg">
    <div class="container inner-top-sm inner-bottom-sm">

        <div class="row">
            <div class="col-md-8 col-sm-8 center-block text-center">
                <header>
                    <h1>Committee</h1>
                </header>
            </div><!-- /.col -->
        </div><!-- /.row -->

        <div class="row inner-top-sm">
		
            <div class="col-md-3 inner-bottom-xs">
                <h2>2015/2016</h2>
                <p class="num-text text-small"><strong>Bartu Kaleagasi</strong></p>
				<p class="num-text text-small">Jonas Ivinskis</p>
				<p class="num-text text-small">Clara Ricard</p>
				<p class="num-text text-small">Emma May</p>
            </div><!-- /.col -->

			<div class="col-md-3 inner-bottom-xs">
                <h2>2014/2015</h2>
                <p class="num-text text-small"><strong>Henry Scott-Green</strong></p>
				<p class="num-text text-small">Bartu Kaleagasi</p>
				<p class="num-text text-small">Victor Chan</p>
				<p class="num-text text-small">Rio Hodges</p>
            </div><!-- /.col -->

            <div class="col-md-3 inner-bottom-xs">
                <h2>2013/2014</h2>
                <p class="num-text text-small"><strong>Henry Moulton</strong></p>
				<p class="num-text text-small">Tristan Al-Shehab</p>
				<p class="num-text text-small">Gabriel de Messiac</p>
            </div><!-- /.col -->
			
			<div class="col-md-3 inner-bottom-xs">
                <h2>2012/2013</h2>
                <p class="num-text text-small"><strong>Edvard Nore</strong></p>
				<p class="num-text text-small">Will Jones</p>
				<p class="num-text text-small">Will Hines</p>
            </div><!-- /.col -->

        </div><!-- /.row -->

    </div><!-- /.container -->
</section>


<!-- ============================================================= SECTION – JUDGES ============================================================= -->

</section>
<section id="portfolio">
    <div class="container inner-top-sm inner-bottom-sm">
        <div class="row">
            <div class="col-md-10 col-sm-10 center-block text-center">
                <header>
                    <h1>Judge Panel</h1>
                </header>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->

    <div class="container inner-bottom-sm">
        <div class="row">
            <div class="col-sm-12 portfolio">

                <ul class="items col-3">

                    <li class="item thumb interactive">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Wellington Partners</h4>
                                        <p>Venture capital firm with over €800 million and offices in London, Munich and Zurich. Focuses on technology, life sciences, and digital media.</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/wellington.png" alt="">
                            </figure>
                    </li><!-- /.item -->

                    <li class="item thumb identity">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Profounders Capital</h4>
                                        <p>Venture capital firm with a focus on early-stage companies operating in the digital media and technology space. </p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/profounders.png" alt="">
                            </figure>
                    </li><!-- /.item -->

                    <li class="item thumb identity">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Piton Capital</h4>
                                        <p>Venture Capital firm based in London. Focuses on online businesses with network effects.</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/piton.png" alt="">
                            </figure>
                    </li><!-- /.item -->
					
					<li class="item thumb photography">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Google</h4>
                                        <p>No description needed.</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/Google.png" alt="">
                            </figure>
                    </li><!-- /.item -->

                    <li class="item thumb print">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Playfair Capital</h4>
                                        <p>Venture capital firm based in London with investments in both consumer and enterprise technology-driven startups around the world.</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/Playfair.png" alt="">
                            </figure>
                    </li><!-- /.item -->

                    <li class="item thumb identity">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Charlotte Street Capital</h4>
                                        <p>Venture Capital firm based in London with a focus on early-stage investments.</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/CSC.png" alt="">
                            </figure>
                    </li><!-- /.item -->


                    <li class="item thumb identity">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Citymapper</h4>
                                        <p>Mobile app which uses travel data to determine the best route for your journey.</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/citymapper.jpg" alt="">
                            </figure>
                    </li><!-- /.item -->

                    <li class="item thumb print">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>YPlan</h4>
                                        <p>Platform which uncovers the best events in your city every day.</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/yplan.jpg" alt="">
                            </figure>
                    </li><!-- /.item -->

                    <li class="item thumb interactive">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Startup Funding Club</h4>
                                        <p>Organisation for SEIS Funds, Angel Investing, Mentoring, and Advisory Startup Services.</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/SFC.png" alt="">
                            </figure>
                    </li><!-- /.item -->
					
					<li class="item thumb identity">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Car Throttle</h4>
                                        <p>Online platform for car enthusiasts.</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/carthrottle.jpg" alt="">
                            </figure>
                    </li><!-- /.item -->

                    <li class="item thumb print">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>TechStars</h4>
                                        <p>Startup Accelerator with programs in London, New York, Boulder, Boston, Seattle, San Antonio, Austin, and Chicago.</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/techstars.png" alt="">
                            </figure>
                    </li><!-- /.item -->
					
					<li class="item thumb identity">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Social Chain</h4>
                                        <p>One of Europe's largest marketing campaign platforms.</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/socialchain.png" alt="">
                            </figure>
                    </li><!-- /.item -->
					
					 <li class="item thumb identity">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Debut</h4>
                                        <p>Mobile platform for student and graduate career opportunities.</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/debut.png" alt="">
                            </figure>
                    </li><!-- /.item -->
					
					<li class="item thumb identity">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>UBlend</h4>
                                        <p>Platform for university-based events.</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/ublend.jpg" alt="">
                            </figure>
                    </li><!-- /.item -->
					
					
					<li class="item thumb identity">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Dressipi</h4>
                                        <p>Platform for personalised fashion shopping.</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/dressipi.png" alt="">
                            </figure>
                    </li><!-- /.item -->
					
					<li class="item thumb identity">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>UCL Advances</h4>
                                        <p>UCL's centre for entrepreneurship.</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/advances.png" alt="">
                            </figure>
                    </li><!-- /.item -->
					

                </ul><!-- /.items -->

            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – FINAL ROUNDS ============================================================= -->
	
<section id="who-we-are" class="light-bg">
    <div class="container inner-top-sm inner-bottom-xs">

        <div class="row">
            <div class="col-md-8 col-sm-8 center-block text-center">
                <header>
                    <h1>Final Rounds</h1>
                </header>
            </div><!-- /.col -->
        </div><!-- /.row -->

        <div class="row inner-top-sm">
		
            <div class="col-md-3 inner-bottom-sm">
                <h2>February 2016</h2>
                <p class="num-text text-small">Dr. Will's</p>
				<p class="num-text text-small">Dorian</p>
				<p class="num-text text-small">Spherical Defence</p>
				<p class="num-text text-small">ROCO</p>
				<p class="num-text text-small">Nightly</p>
				<p class="num-text text-small">Sparkflats</p>
            </div><!-- /.col -->

			<div class="col-md-3 inner-bottom-sm">
                <h2>December 2015</h2>
                <p class="num-text text-small">Kickabout</p>
				<p class="num-text text-small">Polkuni</p>
				<p class="num-text text-small">Know it Wall</p>
				<p class="num-text text-small">Comitas</p>
				<p class="num-text text-small">MindClash</p>
				<p class="num-text text-small">Maskology</p>
            </div><!-- /.col -->

            <div class="col-md-3 inner-bottom-sm">
                <h2>February 2015</h2>
                <p class="num-text text-small">Codeaton</p>
				<p class="num-text text-small">Microjet Tech</p>
				<p class="num-text text-small">Backpack Consulting</p>
				<p class="num-text text-small">TeamUp</p>
				<p class="num-text text-small">InvestRequest</p>
				<p class="num-text text-small">Perfeq</p>
            </div><!-- /.col -->
			
			<div class="col-md-3 inner-bottom-sm">
                <h2>December 2014</h2>
                <p class="num-text text-small">TeamTourist</p>
				<p class="num-text text-small">Greenseed</p>
				<p class="num-text text-small">AceUni</p>
				<p class="num-text text-small">Angelic Wines</p>
				<p class="num-text text-small">A&S Food Box</p>
				<p class="num-text text-small">&nbsp;</p>
            </div><!-- /.col -->
			
			<div class="col-md-3 inner-bottom-xs">
                <h2>February 2014</h2>
				<p class="num-text text-small">RunTroll</p>
				<p class="num-text text-small">Tutor Mapper</p>
				<p class="num-text text-small">HARP</p>
				<p class="num-text text-small">MakeSense</p>
				<p class="num-text text-small">Scholarbox</p>
               
            </div><!-- /.col -->
			
			<div class="col-md-3 inner-bottom-xs">
                <h2>December 2013</h2>
				<p class="num-text text-small">Grandad's Kitchen</p>
				<p class="num-text text-small">Real Funds</p>				
				<p class="num-text text-small">CocosOffice</p>
				<p class="num-text text-small">Candlewick Candles</p>
				<p class="num-text text-small">&nbsp;</p>
                
            </div><!-- /.col -->
                
        </div><!-- /.row -->

    </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – STARTUP PORTFOLIO ============================================================= -->

</section>
<section id="portfolio">
    <div class="container inner-top-sm inner-bottom-sm">
        <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
                <header>
                    <h1>Startup Portfolio</h1>
                </header>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->

    <div class="container inner-bottom">
        <div class="row">
            <div class="col-sm-12 portfolio">

                <ul class="items col-3">

                    <li class="item thumb interactive">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Polkuni</h4>
                                        <p>Platform which connects travellers with local hosts, offering a cultural immersion experience.</p>
										<p>Founders: Elisa Toriseva & Jenni Toriseva.</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/polkuni.png" alt="">
                            </figure>
                    </li><!-- /.item -->
					
					<li class="item thumb interactive">
						<a href="http://www.dr-wills.com/">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Dr. Will's</h4>
                                        <p>Bottled sauce company which provides a clean alternative to ketchup and more.</p>
										<p>Founders: William Breakey & Josh Rose.</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/will.png" alt="">
                            </figure>
						</a>
                    </li><!-- /.item -->
					
					
					<li class="item thumb interactive">
						<a href="http://www.kickaboutapp.net/">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Kickabout</h4>
                                        <p>App to organise football matches and track performance statistics.</p>
										<p>Founders: Avinash Javaji, Alex Jones, Joe Jackson, Wilfrid Craigie.</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/kickabout.png" alt="">
                            </figure>
						</a>
                    </li><!-- /.item -->
					
					<li class="item thumb interactive">
						<a href="http://www.knowitwall.com/">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Know it Wall</h4>
                                        <p>Platform for audio and video documentaries written by academics.</p>
										<p>Founders: Miguel F. Dos Santos, Jeremie Coullon, Angus Waite.</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/knowitwall.jpg" alt="">
                            </figure>
						</a>
                    </li><!-- /.item -->
					
					<li class="item thumb interactive">
						<a href="http://sphericaldefence.com/">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Spherical Defence Labs</h4>
                                        <p>Cyber security company for startups, providing vulnerability assessment and penetration testing.</p>
										<p>Founders: Dishant Shah, Vasuman Ravichandran, Rohan Sinha, Nirvik Ghosh.</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/spherical.png" alt="">
                            </figure>
						</a>
                    </li><!-- /.item -->
					
					<li class="item thumb interactive">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Comitas</h4>
                                        <p>Platform which allows people to buy municipal bonds in order to invest in their community.</p>
										<p>Founders: Eduard Oboimov, Filip Charikov, Valentine Kutateladze, Sergey Makhin.</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/comitas.png" alt="">
                            </figure>
                    </li><!-- /.item -->
					
					<li class="item thumb interactive">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>ROCO</h4>
                                        <p>Online retail platform for independent fashion labels in the Asian market.</p>
										<p>Founders: Ploy Rungwattanasopho & Chavisa Rungwattanasopho.</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/ROCO.png" alt="">
                            </figure>
                    </li><!-- /.item -->
					
					<li class="item thumb interactive">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>CodeAton</h4>
                                        <p>Website for coding education in the UK.</p>
										<p>Founders: Maysun Hassanaly & Johan Byttner.</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/codeaton.jpg" alt="">
                            </figure>
                    </li><!-- /.item -->
					
					<li class="item thumb interactive">
						<a href="http://blog.backpackconsulting.com/">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Backpack Consulting</h4>
                                        <p>Platform to connect startups with travellers for freelance work.</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/backpack.jpeg" alt="">
                            </figure>
						</a>
                    </li><!-- /.item -->
					
					<li class="item thumb interactive">
						<a href="http://teamup.london/">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>TeamUp</h4>
                                        <p>Online platform to connect student startups with the London community.</p>
										<p>Founder: Peter Huang.</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/teamup.png" alt="">
                            </figure>
						</a>
                    </li><!-- /.item -->
					
					<li class="item thumb interactive">
						<a href="https://www.teamtourist.com/">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>TeamTourist</h4>
                                        <p>Web platform to book cruises and tours at group discount prices.</p>
										<p>Founder: David Lipowicz.</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/teamtourist.png" alt="">
                            </figure>
						</a>
                    </li><!-- /.item -->
					
										
					<li class="item thumb interactive">
						<a href="http://greenseedapp.com/">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Greenseed</h4>
                                        <p>Community platform to discuss, learn, and organise gardening.</p>
										<p>Founders: Arindra Das & Naomi Poyser.</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/greenseed.png" alt="">
                            </figure>
						</a>
                    </li><!-- /.item -->
					
					<li class="item thumb interactive">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>AceUni</h4>
                                        <p>Platform to connect recent graduates with students for private tutoring.</p>
										<p>Founders: Tay Jun Hao & Scarlett Zhang.</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/aceuni.png" alt="">
                            </figure>
                    </li><!-- /.item -->

					<li class="item thumb interactive">
						<a href="http://www.runtroll.com/">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>RunTroll</h4>
                                        <p>Mobile app which makes running more fun by turning it into a game.</p>
										<p>Founder: Nicholas Tenhue.</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/runtroll.png" alt="">
                            </figure>
						</a>
                    </li><!-- /.item -->
					
										<li class="item thumb interactive">
						<a href="https://www.facebook.com/GrandadsKitchen/">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Grandad's Kitchen</h4>
                                        <p>Authentic Carribean sauces and seasonings.</p>
										<p>Founder: Sean Davey.</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/grandads.jpg" alt="">
                            </figure>
						</a>
                    </li><!-- /.item -->
					
					<li class="item thumb interactive">
						<a href="http://www.makesense.co/">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>MakeSense</h4>
                                        <p>Electronic hardware to connect your computer to the real world.</p>
										<p>Founders: Oscar Robinson & Jonny Manfield.</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/makesense.png" alt="">
                            </figure>
						</a>
                    </li><!-- /.item -->
					
					
					<li class="item thumb interactive">
						<a href="https://www.tutormapper.com">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>TutorMapper</h4>
                                        <p>Online platform to find the best private tutors in your area.</p>
										<p>Founder: Max Blanshard.</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/tutormapper.png" alt="">
                            </figure>
						</a>
                    </li><!-- /.item -->
					
					<li class="item thumb interactive">
						<a href="http://www.harpsounds.co/">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>HARP</h4>
                                        <p>Mobile app for social music discovery.</p>
										<p>Founder: Kesang Ball.</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/HARP.jpg" alt="">
                            </figure>
						</a>
                    </li><!-- /.item -->
					
					<li class="item thumb interactive">
						<a href="http://www.realfunds.co.uk/">
                            <figure>
                                <figcaption class="text-overlay">
                                    <div class="info">
                                        <h4>Real Funds</h4>
                                        <p>Peer-to-peer lending platform for property development.</p>
										<p>Founder: Arya Taware.</p>
                                    </div><!-- /.info -->
                                </figcaption>
                                <img src="~/assets/images/TheFund/realfunds.png" alt="">
                            </figure>
						</a>
                    </li><!-- /.item -->

                </ul><!-- /.items -->

            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – SUCCESS STORIES ============================================================= -->
	
<section id="who-we-are" class="light-bg">
    <div class="container inner-top-sm inner-bottom-xs">

        <div class="row">
            <div class="col-md-8 col-sm-8 center-block text-center">
                <header>
                    <h1>Success Stories</h1>
                </header>
            </div><!-- /.col -->
        </div><!-- /.row -->

        <div class="row inner-top-sm">
		
            <div class="col-md-6 inner-bottom-xs">
                <h2>Kickabout</h2>
                <li><p class="num-text text-small">Received &pound;18k additional funding</p></li>
				<li><p class="num-text text-small">Launched on iOS and Android</p></li>
				<li><p class="num-text text-small">Organised the Kickabout Cup football tournament</p></li>
            </div><!-- /.col -->

			<div class="col-md-6 inner-bottom-xs">
                <h2>Comitas</h2>
                <li><p class="num-text text-small">Received funding from angel investor</p></li>
				<li><p class="num-text text-small">Participated in Kickstart London accelerator</p></li>
				<li><p class="num-text text-small">Participated in UK Cabinet Office's Innovation Hub</p></li>
				<li><p class="num-text text-small">Accepted to KPMG Startup Mentoring Program</p></li>
            </div><!-- /.col -->
			
		</div><!-- /.row -->

    </div><!-- /.container -->
	
	<div class="container inner-bottom-xs">

        <div class="row">
		
            <div class="col-md-6 inner-bottom-xs">
                <h2>Spherical Defence</h2>
                <li><p class="num-text text-small">Featured in Business Standard article</p></li>
				<li><p class="num-text text-small">Contacted by companies including HSBC</p></li>
				<li><p class="num-text text-small">Received acknowledgment from Prime Minister Modi's office</p></li>
            </div><!-- /.col -->

			<div class="col-md-6 inner-bottom-xs">
                <h2>TeamTourist</h2>
                <li><p class="num-text text-small">Launched web platform</p></li>
				<li><p class="num-text text-small">Destinations: Barcelona, Rome, Venice, Athens, Budapest, Paris, Dubrovnik, Pisa</p></li>
				<li><p class="num-text text-small">Shortlisted for Richard Branson's Virgin competition</p></li>
            </div><!-- /.col -->
			
		</div><!-- /.row -->

    </div><!-- /.container -->
</section>


